body, html {
    font-family: sans-serif;
    font-size: 20px;
}
h1{
	/*background: rgb(97, 160, 172);*/
	background-color: #66CDAA	;
	/*background-color: #43BFBA;*/
	text-align: center;
	color: white;
	font-size: 54px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: 45px;
	margin-right: 45px;

}
h2{
	background-color: #ad3265;
	font-size: 45px;
	padding-left: 10px;
	color: white;

}
h3{
	font-size: 30px;
	text-decoration: underline #08936e ;
    
}
nav ul {
    list-style-type: square;
    margin-top: 30px;
	margin-bottom: 30px;
}
ul, ol {
    
    
}
nav{
	text-align: center;
}
ul{
	list-style-position: inside;
	display: inline-block;
    text-align: left;
	line-height: 1.5;
	
}
.pink,a{
	font-size: 22px;
	color: #B22222;
}

article{
	margin-left: 45px;
	margin-right: 45px;

}
img{
	border: #000000 3px outset;
	width: 35%;

}

footer{
	margin-left: 45px;
	margin-right: 45px;
	background-color: #2F4F4F;
	font-size: 38px;
	color: white;
	padding-left: 10px;
}
